/* Mohácsi Bálint */
header, article, aside, footer, section {
    border: 2px dashed red;
    text-align: center;
}

header {
    height: 150px;
    width: auto;
}

#art1, #art2, #art3 {
    height: 100px;
    width: 180px;
    float: left;
    margin-top: 25px;
}

#art2 {
    margin-left: 25px;
    margin-right: 25px;
}

div {
    height: auto;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

section {
    height: 500px;
    width: 325px;
    float: left;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}


#arti1 {
    height: 450px;
    width: 125px;
    float: left;
    margin-left: 25px;
    margin-top: 25px;
}

#arti2, #arti3 {
    height: 210px;
    width: 125px;
    float: left;
    margin-left: 25px;
}

#arti2 {
    margin-top: 25px;
    margin-bottom: 25px;
}

aside {
    height: 500px;
    width: 250px;
    float: left;
    margin-left: 25px;
    margin-top: 25px;
}

#art4, #art5 {
    width: 275px;
    height: 150px;
    float: left;
    margin-top: 25px;
}

#art5 {
    margin-left: 50px;
}

.foo1 {
    height: 150px;
    width: 100%;
    float: left;
    margin-left: auto;
    margin-right: auto;
}

#foo2 {
    height: 100px;
    width: 605px;
    float: left;
    margin-top: 25px;
}


.divart2 {
    height: 200px;
    width: 100%;
    float: left;
}

.divart1 {
    width: 625px;
    margin-left: auto;
    margin-right: auto;
}

.divfoo {
    width: 625px;
    margin-left: auto;
    margin-right: auto;
}

.divart {
    margin-left: auto;
    margin-right: auto;
    width: 625px;
}